<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="v-0.1.2" package="com.pbsteeledev.FoodFight" android:installLocation="preferExternal" android:versionCode="1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="FoodFight" android:icon="@drawable/FFLogoDark"></application>
</manifest>